
# ðŸ¤– Predicting JAMB Scores using PyCaret (Regression)

This notebook uses PyCaret to build a regression model that predicts student JAMB scores based on features like attendance, school type, study hours, etc.

In [1]:

import pandas as pd
from pycaret.regression import *

df = pd.read_csv("jamb_exam_results.csv")
df = df.drop(columns=["Student_ID"])  # Remove irrelevant feature

# Setup PyCaret
reg_setup = setup(data=df, target='JAMB_Score', session_id=123, fold=3, verbose=True)

In [2]:

# Compare models
best_model = compare_models(fold=3)

In [3]:

# If compare_models fails, fallback to Random Forest
if not hasattr(best_model, "fit"):
    best_model = create_model('rf', fold=3)

In [4]:

# Tune and evaluate model
tuned_model = tune_model(best_model, fold=3)
evaluate_model(tuned_model)

Fitting 3 folds for each of 10 candidates, totalling 30 fits

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [5]:

# Save model
save_model(tuned_model, 'JAMB_Regression_Model')

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['Study_Hours_Per_Week',
                                              'Attendance_Rate',
                                              'Teacher_Quality',
                                              'Distance_To_School', 'Age',
                                              'Assignments_Completed'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['School_Type', 'School_Location',
                                              'Extra_Tutorials',
                                              'Access_To_Lea...
                  TransformerWrapper(include=['Parent_Involvement',
                                              'IT_Knowledge',
                                              'Socioeconomic_Status',
                                              'Parent_Education_Level'],
                                     transformer=OneHotEncoder(cols=['Parent_Involvement',
                                                                     'IT_Knowledge',
                                                                     'Socioeconomic_Status',
                                                                     'Parent_Education_Level'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('trained_model',
                  BayesianRidge(alpha_1=0.15, lambda_1=0.3, lambda_2=0.0001))]),
 'JAMB_Regression_Model.pkl')